{{- /*gotype: github.com/johnrutherford/fluentfga.Model*/ -}}

{{ define "model" }}
{{ template "_header" . }}

func NewAuthorizationModel(client sdkclient.SdkClient) AuthorizationModel {
    return AuthorizationModel{
        client: client,
    }
}

// AuthorizationModel represents the OpenFGA authorization model.
type AuthorizationModel struct {
    client sdkclient.SdkClient
}

{{ range .Types -}}
// {{ .Type }} provides access to the "{{ .Name }}" type's relations.
func (m AuthorizationModel) {{ .Type }}() {{ .Type }}Type { return {{ .Type }}Type{m.client} }
{{ end }}

{{- end }}