{{- /*gotype: github.com/johnrutherford/fluentfga.Model*/ -}}

{{ define "relations" }}
{{ template "_header" . }}

type Relation interface {
    typeName() string
    relation() string
}

type DirectRelation[U Object, O Object] struct {
    model *AuthorizationModel

    typ string
    rel string
}

func (r DirectRelation[U, O]) typeName() string { return r.typ }
func (r DirectRelation[U, O]) relation() string { return r.rel }

func (r DirectRelation[U, O]) Check(ctx context.Context, user U, object O) (bool, error) {
    return r.model.check(ctx, user, r, object)
}

func (r DirectRelation[U, O]) Write(ctx context.Context, user U, object O) error {
    return r.model.write(ctx, user, r, object)
}

func (r DirectRelation[U, O]) Delete(ctx context.Context, user U, object O) error {
    return r.model.delete(ctx, user, r, object)
}

{{ end }}